<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #2e7d32;">
  <div class="container-fluid">
    <a class="navbar-brand" >Panorama</a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">

        <% if user_signed_in?  %>

        
           <li class="nav-item">
            <%= link_to "Business Intelligence", home_business_inside_path, class:"nav-link" %>
          </li>


          <li class="nav-item">
            <%= link_to "Index", root_path, class:"nav-link" %>
          </li>

          <% if can? :access, @article %>
            
              <li class="nav-item">
                <%= link_to "Admin", rails_admin.dashboard_path, class:"nav-link" %>
              </li>

           <% end %>


          <li class="nav-item">
            <%= link_to "Minha Conta",edit_user_registration_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sair",destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to "Entrar",new_user_session_path, class:"nav-link" %>
          </li>
          <!-- 
        <li class="nav-item">
          <%= link_to "Sign Up",new_user_registration_path, class:"nav-link" %>
          </li>   -->
          
        <% end %>

      </ul>
      
    </div>
  </div>
</nav>