
<div class="col-md-6 offset-md-3">

    <h2>Entrar</h2>

    <div class="form-group">

         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,  class: 'form-control' %>
          </div>
          <br/>

          <div class="field">
            <%= f.label :Senha %><br />
            <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control' %>
          </div>

         <br/>

          <div class="actions">
            <%= f.submit "Entrar" %>
          </div>
      </div>
    <% end %>

  

</div>
